* {

	box-sizing: border-box;

	margin: 0;

	padding: 0;

}

body {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;

	text-align: center;

}

/*** MEDIA QUERIES ***/

@media (min-width: 992px) {

	.col-lg-4 {

		width: calc(33.33% - 20px);

		float: left;

	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {

		width: calc(50% - 20px);

		float: left;

	}

	.col-md-12 {

		width: calc(100% - 20px);

		float: left;	

	}

}

@media (max-width: 767px) {

	.col-sm-12 {

		width: calc(100% - 20px);

		float: left;

	}

}

/*** MEDIA QUERIES - END ***/

h1 {

	font-size: 1.75em;

	padding: 20px;

}

h2 {

	font-size: 1.25em;

	position: relative;

	top: 0;

	left: 75%;

	border-left: 1px solid #111111;

	border-bottom: 1px solid #111111;

	width: 25%;

	text-align: center;

	overflow: hidden;

}

p {

	clear: right;

	padding: 5px;

	text-align: justify;

}

section {

	background-color: #afafaf;

	border: 1px solid #111111;

	margin: 10px;

}

.content {

	margin: 10px;

}

.row {

	width: 100%;

	/*background-color: green;*/

	min-height: 30px;

}

#chicken h2 {

	background-color: #ee8080;

}

#beef h2 {

	background-color: #ae1534;

	color: white;

}

#sushi h2 {

	background-color: #febf70;

}

.clear {

	clear: both;

}
